@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    

    menu > ul {
        padding: 10px;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 150px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.322);
        box-sizing: border-box;
        margin-right: 10px;
    }

    menu > ul > li:hover {
        transform: translate(-3px, 2px);
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.637);
        transition: transform .6s, border .5s;
    }

    main {
        width: 75%;
        height: 75%;
    }

    footer {
        font-size: 1.3em;
        font-weight: 500;

    }

    

   
}

